<!doctype html>

<html class="no-js" lang="{{ shop.locale }}">

<head>

	{% include 'thmDocHead' %}

	{{ content_for_header }}

</head>

<body class="template-{{ template | split: '.' | first }}">

  	<a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  	{% include 'thmSrchDrwr' %}

  	{% include 'cart-popup' %}

  	{% section 'header' %}

  	<div class="page-container" id="PageContainer">

		<main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">

      		{{ content_for_layout }}

    	</main>

    	{% section 'footer' %}

    	<div id="slideshow-info" class="visually-hidden" aria-hidden="true">

      		{{- 'sections.slideshow.navigation_instructions' | t -}}

    	</div>

  	</div>

  	<ul hidden>
    	<li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    	<li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
  	</ul>

</body>

</html>
